* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:focus,
a:active {
	outline: none;
}

a,
a:visited {
	text-decoration: none;
}

.main-container {
  padding: 30px;
}

body {
  background-color: #860e0e8e;
}

/* CARDS */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 300px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__author {
  position: relative;
  text-decoration: none;
  color: rgba(211, 78, 78, 0.9);
}

.btn-delete {
  grid-row: 1/2;
  justify-self: end;
  background-color: #f4511e;
  border: none;
  color: white;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.2
}

.btn-delete:hover {opacity: 1}

.card__author {
  grid-row: 2/3;
  font-size: 20px;
  margin-top: 10px;
}

.card__description {
  grid-row: 3/4;
  align-self: center;
  font-weight: 400;
  color: #ffffff;
}

.card__title {
  grid-row: 4/5;
  font-weight: bold;
  color: #152e81;
  text-transform: uppercase;
}

/* CARD BACKGROUNDS */

.card {
  background: radial-gradient(#60efbc, #58d5c9);
}


/* RESPONSIVE */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}
