ul li {
	list-style: none;
}

a {
  color: #1a7ace;
}

.alternate {
    padding: 0;
    list-style: none;
    margin: 20px 25vh;
  }
  .alternate li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px; 
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
  }
  .alternate li:nth-child(1) {background:#2f7dbd}
  .alternate li:nth-child(2) {background:#2f7dbda0}
  .alternate li:nth-child(3) {background:#2f7dbd22}
  
  .alternate li {
    -webkit-animation: shake .7s linear alternate infinite;
    animation: shake .7s linear alternate infinite;
  }
 
  @-webkit-keyframes shake {
    100% {
      -webkit-transform: translateX(-30px);    
    }
  }
  @keyframes shake {
    100% {
      transform: translateX(-30px);    
    }
  }